.form-main-inline-grid {
  display: inline-grid;
}
.form-inline-grid {
  display: inline-grid;
}
.form-label {
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
}
.input-text {
  display: inline-grid;
  grid-template-columns: 40% auto;
  align-items: baseline;
  grid-auto-rows: minmax(min-content, max-content);
}
.form-group {
  margin-bottom: 0;
}
.form-text {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
@media only screen and (max-width: 600px) {
  .input-text {
    display: block;
  }
  .button-flex {
      display: flex;
      flex-direction: column;
  }
}
